.admin-container {
  font-family: sans-serif;
  margin: 10px;
}
.admin-header {
  display: flex;
  justify-content: space-between;
}

.add-button {
  padding: 8px 16px;
  margin-bottom: 20px;
  background-color: #409eff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
}

.product-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.product-table th,
.product-table td {
  border: 1px solid #ddd;
  padding: 5px;
  text-align: center;
}
/* .product-table .tdBtns {
  display: flex;
  flex-direction: column;
} */

.product-table .tdBtns button {
  display: block;
  border: none;
  width: 90%;
  margin: 5px auto;
  border-radius: 5px;
  height: 30px;
}
.product-table .tdBtns .changeBtn {
  background-color: rgb(249, 200, 24);
}

.product-table .tdBtns .delBtn {
  background-color: rgb(249, 43, 43);
}

.product-table img {
  border-radius: 4px;
}

.empty {
  text-align: center;
  padding: 20px;
  color: #999;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.modal {
  background: white;
  padding: 30px;
  width: 500px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.form label {
  display: block;
  margin-bottom: 10px;
}

.form input,
.form select {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  box-sizing: border-box;
}

.radio-group {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}

.form .row {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.actions {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
select {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  box-sizing: border-box;
}
