
.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999; /* 高于页面内容 */
}

.cart-modal {
  width: 30%;
  max-height: 90%; /* 最大高度 */
  overflow: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
  z-index: 1000; /* 高于遮罩层 */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.close {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-btn {
  margin-top: 20px;
  width: 60px;
  text-align: center;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.allist {
  margin: 20px 0;
  max-width: 65vh;
  overflow: auto;
}
.allist ul {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  height: 100%;
  margin: 5px 0;
  overflow: auto;
}
.list {
  /* width: 100%; */
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
.left {
  display: flex;
  align-items: center;
  height: 100%;
  
}
.list-img {
  width: 70px;
}
.list-info {
  width: 150px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.del {
  border: none;
  color: red;
  text-decoration: underline;
  text-align: left;
  background-color: #fff;
}
.inp {
  width: 18%;
  height: 60%;
  border: none;
  border-radius: 30px;
  background-color: #f8f8f8;
  /* margin-left: 40%; */
  text-align: center;

}
.total {
  display: flex;
  justify-content: space-between;
}
.total-price {
  font-weight: 600;
}
.Check-btn {
  width: 90%;
  height: 50px;
  border-style: none;
  border-radius: 20px;
  background-color: #a5c926;
  color: white;
}

